.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
    font-size: medium; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.doggy {
  color: purple;
  background-color: white; 
  border-color: blue; 
  border-radius: 10px; 
  border-style: dashed; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium; 
  padding: 5px; 
}

.dogContainer {
  background-color: yellow; 
  display: flex;
  flex-direction: row; 
  width: 100%; 
  justify-content: space-around;
}

.buttonContainer {
  background-color: aqua; 
  display: flex; 
  flex-flow: row wrap; 
  justify-content: space-around;
  width: 25%;
  border-color: red; 
  border-radius: 15px; 
  border-style: dashed; 
  font-size: medium; 
  padding: 10px; 
}

.projects {
  background-color: rgb(24, 182, 24); 
  border-color: white; 
  border-radius: 15px; 
  border-style: solid; 
  width: 15%; 
}

.links {
  justify-content: space-between;
  flex-flow: column; 
}

.questionnaire {
  display: flex; 
  flex-flow: column wrap; 
  background-color: purple; 
  padding: 15 px; 
  width: 20%;
  height: 20%; 
  justify-content: space-between; 
}

.dropdown-check-list {
  display: inline-block;
}
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-list ul.items li {
  list-style: none;
}
.dropdown-check-list.visible .anchor {
  color: #0094ff;
}
.dropdown-check-list.visible .items {
  display: block;
}
