.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
    font-size: medium; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contactInfo {
  width: 65%; 
  background-color: rgb(33,150,243);  
  border-color: white;
  padding: 5px; 
  border-radius: 10px; 
  border-style: solid; 
  display: flex;
  flex-flow: row wrap;
  justify-content: center;  
  justify-content: space-around; 
}

.aboutMe {
  display: flex; 
  justify-content: flex-start; 
  width: 70%;
  background-color:rgb(34, 139, 34); 
  border-color: white; 
  padding: 5px; 
  border-radius: 10px; 
  border-style: solid; 
}

.aboutMe img {
  height: auto; 
  width: 30%; 
}

.selfImage {
  background-color: rgb(255,99,71); 
  border-color: white; 
  border-radius: 10px; 
  border-style: solid; 
  width: 65%; 
  display: flex;  
  flex-flow: row wrap;
  justify-content: space-around; 
  padding: 10px; 
}

.selfImage img {
  height: auto;
  width: 50%;
}

.projects {
  background-color: rgb(255,99,71); 
  border-color: white;
  border-radius: 10px; 
  border-style: solid; 
  width: 18%; 
  font-family: "Lucida Calligraphy";  
}

.hobbies {
  background-color: rgb(33,150,243); 
  border-color: white; 
  border-radius: 10px; 
  border-style: solid; 
  width: 18%; 
  font-family: "Lucida Calligraphy"; 
}

.hobbyPics {
  width: 70%; 
  display: flex; 
  flex-flow: row wrap; 
  justify-content: space-around; 
  background-color: rgb(34, 139, 34);  
  border-color: white; 
  border-radius: 10px; 
  border-style: solid; 
  padding: 10px; 
}

.fun {
  background-color: rgb(255,99,71); 
  border-color: white; 
  border-radius: 10px; 
  border-style: solid; 
  width: 22%; 
  font-family: "Lucida Calligraphy"; 
}

.funPics{
  width: 70%; 
  display: flex; 
  background-color: rgb(33,150,243);  
  border-color: white; 
  border-radius: 10px; 
  border-style: solid; 
  padding: 10px; 
  flex-flow: row wrap; 
  justify-content: space-around; 
}

a img {
  width: auto; 
  height: 300px; 
}

a {
  position: relative; 
}

a span {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: white; 
  background: black(255,255,255,.8);
}

a:hover span {
  display: block;
}

.ending{
  width: 65%; 
  background-color: rgb(34, 139, 34); 
  color: black; 
  border-color: white; 
  padding: 5px; 
  border-radius: 10px; 
  border-style: solid; 
}

/* Code used during web development mini course-- keeping here for future reference */ 

/* .questionnaire {
  display: flex; 
  flex-flow: column wrap; 
  background-color: purple; 
  padding: 15 px; 
  width: 20%;
  height: 20%; 
  justify-content: space-between; 
} */

/* .dropdown-check-list {
  display: inline-block;
}
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-list ul.items li {
  list-style: none;
}
.dropdown-check-list.visible .anchor {
  color: #0094ff;
}
.dropdown-check-list.visible .items {
  display: block;
} */

/* .doggy {
  color: purple;
  background-color: white; 
  border-color: blue; 
  border-radius: 10px; 
  border-style: dashed; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium; 
  padding: 5px; 
}

.dogContainer {
  background-color: yellow; 
  display: flex;
  flex-direction: row; 
  width: 100%; 
  justify-content: space-around;
}

.buttonContainer {
  background-color: aqua; 
  display: flex; 
  flex-flow: row wrap; 
  justify-content: space-around;
  width: 25%;
  border-color: red; 
  border-radius: 15px; 
  border-style: dashed; 
  font-size: medium; 
  padding: 10px; 
} */